<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mongo Scraper</a>
    </div>

    <a class="scrape-link" href="/scrape">
      <button class="scrape-btn">Scrape New Articles!</button>
    </a>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">Saved Articles</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="bg-img">
  <div class="img-mask">
    <div class="landing-content">
      <h1>Mongo Scraper</h1>
      <h2>ESPN News Articles</h2>
    </div>
  </div>
</div>

<div class="article-section">
  <h2>
    <span class="article-section-heading">SAVED ARTICLES</span>
  </h2>
</div>